/* จัดให้อยู่ตรงกลาง */
.container{
    margin-top: 10px;
     color: azure;
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90vh;
  }

  table {
    border-collapse: collapse;
    width: 200%;
    border: 10px solid #ddd;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  th {
      background-color: #4CAF50;
      color: white;
  }

  .card{
    width: 600px;
    background-color: #ffffff05;
    backdrop-filter: blur(30px);
    color: azure;
    /* border: 3px solid #fff; */
  }

  .row{
    margin: 15px;
  }


  